.category {
    
    position: relative;
    bottom: 82px;
    left: 14px;
    &-item {
        background-color: @nav-color;
        .col (32.5%);
        padding: 0;
    }
    .item {
        
        &-icon {
            text-align: center;
            position: relative;
            top: 30px;
        }
        &-content {
            
            text-align: center;
        }
    }
    .title {
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        top: 54px;
    }
    .detail {
        width: 290px;
        margin: 0 36px;
        font-size: 14px;
        color: @ft-color;
        font-weight: 400;
        position: relative;
        top: 74px;
    }
}