@media all and (max-width: 1200px){

}
@media all and (max-width: 1024px){
    .header {
        .logo-mobi{
            display: block;
        }
        &-inner {
            .logo {
                display: none;
            }
            nav {
                .nav-icon {
                    display: block;
                }
                .navbar {
                    display: none;
                }
            }
        }
    }
    .background {
        .image {
            max-width: 1024px;
            height: auto;
        }
        &-content {

        }
        &-title {

        }
        &-sub {

        }
        &-text {

        }
        a {

        }
    }
}
@media all and (max-width: 768px){
    
}
@media all and (max-width: 576px){
    
}
@media all and (max-width: 375px){
    
}